@import "vars";

.articles_list {
  h2 {
    font-size: 5rem;
    text-align: center;
    margin: 10rem 0rem 1rem 0rem;
    &::after {
      content: "";
      display: block;
      width: 40%;
      height: 3px;
      background-color: $dark-accents;
      margin: 0 auto;
      margin-top: 3rem;
    }
  }

  @media (min-width: 960px) {
    h2 {
      font-size: 6rem;
    }
  }
}

.articles_wrapper {
  width: 100%;
  padding: 2rem 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-gap: 3rem;

  @media (min-width: 960px) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 45%));
  }
}
